/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #5b83fd
$textColor = #fff
$borderColor = #333
$codeBgColor = #282c34
$themeBgColor = #17181a
$navBgColor = #1f2022
