/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// 夜间模式
// $accentColor = #5b83fd
// $textColor = #fff
// $borderColor = #333
// $codeBgColor = #282c34
// $themeBgColor = #17181a
// $navBgColor = #1f2022
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// 日间模式
// 文本的颜色
$textColor = #222
$textColor2 = #555
// 主题背景颜色
$themeBgColor = #f5f5f5
$themeBgColor2 = #eee
$themeBgColor3 = #fff
$themeBgColor2Hover = #f1f1f1
$accentColor = #5b83fd
$borderColor = #eee
$codeBgColor = #282c34
$navBgColor = #fff
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 1008px
$homePageMinHeight = 600px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 黑色主题配送方案
$black_bg_lldark = #525252;
$black_bg_ldark = #414141;
$black_bg_dark = #313131;